body{
    background-color: lightskyblue;
}
.row{
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
}
.col{
    background-color: white; 
}
.col-4{
    background-color: white; 
}
.col-8{
    background-color: white; 
}
.container{
    margin-top:20px;
    border-radius: 15px;
    margin-bottom:20px;
}
::-webkit-scrollbar {
    width: 0.7vw;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1vw #e0e0e0;
    border-radius: 1vw;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(253, 253, 253);
    border-radius: 1vw;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
}

